.component-header {
  margin-bottom: 3rem;
  @include mq(mobile,tablet){
    margin-bottom: 1.5rem;
  }
  .component-header__title {
    font-weight: 300;
  }
  .component-header__sub-heading {
    margin-top: .3333rem;
  }
  /****
  * Component Variations
  */
  @at-root {
    .component-header--logo {
      text-align: left;
      margin-bottom: 0;
      position: relative;
      @include span(3);
      .component-header__title {
        position: relative;
        padding-left: 3rem;
        font-size: map-get($type, 300);
        &:before {
          content: "";
          position: absolute;
          width: 2.2rem;
          height: 2.5rem;
          background-image: url(../images/pipeline-logo.svg);
          left: 7px;
          top: -.5rem;
        }
        .component-header__link {
          font-weight: 700;
        }
      }
    }
  }
}
