.component-image {
  /****
  * Component Variations
  */
  @at-root {
    .component-image--circle {
      max-width: 9rem;
      border-radius: 50%;
      @include mq(mobile, tablet){
        max-width: 4rem;
      }
    }
    .component-image--circle-with-border {
        border: 0.3333rem solid rgba(darken(map-get($palette, 120), 14%), .3);
    }

    .component-image--hero {
      max-width: 50%;
      position: relative;
      top: 5px;
    }
  }
}
